
.cartDiv {
  width: 70%;
  margin: 30px auto;
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
}

.cartItemImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.cartItemName {
  flex: 2;
  text-align: left;
  font-weight: 600;
}

.cartItemQty,
.cartItemPrice {
  flex: 1;
  text-align: right;
  font-weight: 500;
}

.cartTotal {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
