body {
  background-color: #a9c5e6; 
  margin: 0;
  padding: 0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







.banner {
  text-align: center;
  background-color: #b0aacf;
  color: #333;
  font-size: 28px;
  font-weight: bold;
  padding: 16px 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 12px;
  text-align: center;
  z-index: 100;
}

